# Kafka
KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=windturbine-data
KAFKA_DLQ_TOPIC=windturbine-deadletter
KAFKA_GROUP_ID=wind_turbine_consumer_group
KAFKA_NUM_PARTITIONS=12

# TimescaleDB
DB_HOST=localhost
DB_PORT=5432
DB_NAME=wind_turbine_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_TABLE=wind_turbine_readings

# Pipeline
NUM_TURBINES=12
SENSOR_INTERVAL_SEC=1
LOG_LEVEL=INFO
LOG_FILE=logs/pipeline.log
